<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33835237518-n3joo3qrusggrahkf486beplklkdmdq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33835237518-n3joo3qrusggrahkf486beplklkdmdq9</string>
	<key>API_KEY</key>
	<string>AIzaSyAyWTK68Ku8TIJEGbY7aCTgd2iZYZ9nDGE</string>
	<key>GCM_SENDER_ID</key>
	<string>33835237518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convene.convene</string>
	<key>PROJECT_ID</key>
	<string>convenedev-3688f</string>
	<key>STORAGE_BUCKET</key>
	<string>convenedev-3688f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33835237518:ios:4d1b97a23c878b88b049df</string>
	<key>DATABASE_URL</key>
	<string>https://convenedev-3688f.firebaseio.com</string>
</dict>
</plist>